/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;600;700");
@import url("https://fonts.googleapis.com/css2?family=Inter");

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #101014; /* Add this line to set the background color */
  margin: 0; /* Add this to remove any default margin */
}

/* Main content */
main {
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  gap: 1rem;
  padding: 1.5rem;
}

@media (min-width: 640px) {
  main {
    padding: 2rem;
  }
}

/* Grid container */
.grid-container {
  display: grid;
  gap: 1rem;
  width: 100%;
}

/* Text-to-speech section */
.tts-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

/* Button container */
.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Button icon */
.button-icon {
  color: #ff3366;
  font-size: 1.5rem;
}

/* Spinner animation */
.fa-circle-notch {
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

/* Button styling */
button {
  background: linear-gradient(#101014, #101014) padding-box,
    linear-gradient(90deg, #ff3366 -91.5%, #ff6b6b 80.05%) border-box;
  height: 48px;
  width: 113px;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

/* Error message */
#error-message {
  color: rgb(255, 74, 93);
  font-weight: 800;
}

/* Dropdown select and Textarea */
select, textarea {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-color: rgba(44, 44, 51, 1);
  background-color: rgba(16, 16, 20, 1);
  padding: 1rem;
  font-family: Fira Code, monospace;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: white;
}

/* Dropdown select specific */
select {
  height: 54px;
}

/* Textarea specific */
textarea {
  min-height: 256px;
  resize: none;
}

/* Label */
label {
  font-size: 14px;
  color: #fff; /* Add this line to set the text color to white */
}

/* Deepgram logo */
.dg-logo {
  padding-top: 0.75rem;
  width: 30rem;
}

/* Title */
.title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .title {
    flex-direction: row;
    justify-content: center;
  }
}

h1 {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #ff3366 -91.5%, #ff6b6b 120.05%);
  font-size: 1.5rem;
  margin: 0;
  font-weight: 800;
  font-family: Arimo;
}

@media (min-width: 640px) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font: 700 2rem / 3.75rem Arimo;
  letter-spacing: -0.02em;
}

/* Information section */
.information-section {
  margin-left: 0;
}

@media (min-width: 768px) {
  .information-section {
    margin-left: 120px;
    color: rgb(237, 237, 242);
  }
}

/* List */
ul {
  font-family: "Arimo";
  display: flex;
  padding-left: 0px;
  gap: 16px;
  flex-direction: column;
}

li {
  font-size: 20px;
  line-height: 1.75rem;
}

li::marker {
  color: #ff3366;
}

/* Links */
a {
  color: #ff3366;
  text-decoration: none;
}

/* Falling Strawberries */
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}
@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}
@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}

.snowflake {
  position:fixed;
  top:-10%;
  z-index:9999;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  cursor:default;
  -webkit-animation-name:snowflakes-fall,snowflakes-shake;
  -webkit-animation-duration:10s,3s;
  -webkit-animation-timing-function:linear,ease-in-out;
  -webkit-animation-iteration-count:infinite,infinite;
  -webkit-animation-play-state:running,running;
  animation-name:snowflakes-fall,snowflakes-shake;
  animation-duration:10s,3s;
  animation-timing-function:linear,ease-in-out;
  animation-iteration-count:infinite,infinite;
  animation-play-state:running,running
}

.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,0s}
.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

.snowflake img {
  width: 30px; /* Adjust the size of the strawberry as needed */
  height: auto;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  background-color: #101014; /* Match the background color */
  margin-top: auto; /* Add this to push the footer to the bottom */
}

.made-by {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.3s ease;
}

.made-by:hover {
  opacity: 0.8;
}

.x-logo {
  width: 12px; /* Reduced from 20px */
  height: 12px; /* Reduced from 20px */
  margin-left: 10px; /* Add left margin */
  margin-right: 2px; /* Reduce right margin to bring it closer to the text */
}

#download-button {
  text-decoration: none;
}